@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap')

$dark-blue: hsl(240, 38%, 20%)
$grayish-blue: hsl(240, 18%, 77%)

$font-size: 1.225rem
$font-family: 'Inter'

$breakpoint-tablet: 768px
$breakpoint-laptop: 1200px

*
    box-sizing: border-box

body
    padding: 0
    margin: 0

main
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start

article
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: center
    padding: 20px
    width: 375px
    align-self: center
    @media (min-width: $breakpoint-tablet)
        flex-direction: row-reverse
        width: 100%
        padding: 50px
        padding-left: 75px
        padding-right: 100px
    @media (min-width: $breakpoint-laptop)
        padding-left: 50px
        padding-right: 200px
        padding: 100px
.wrapper-img
    display: flex
    flex-direction: column
    
    @media (min-width: $breakpoint-tablet)
        align-self: center
        width: 50%
        margin-left: -50px
    @media (min-width: $breakpoint-laptop)
        margin-left: -150px
    .wrp-img-patt
        width: 350px
        position: relative
        align-self: center
        display: flex
        flex-direction: column
        @media (min-width: $breakpoint-tablet)
            width: 100%
    .img-ptrn
        width: 330px
        object-fit: contain  
        align-self: center
        @media (min-width: $breakpoint-tablet)
            width: 100%
    .img-person
        width: 260px        
        position: absolute
        top: 9.5%
        right: 14%
        border-radius: 10px
        box-shadow: 0px 0px 50px -20px
        @media (min-width: $breakpoint-tablet)
            width: 78%
            top: 9.5%
            right: 11%
    .slide
        position: absolute
        top: 87%
        right: 43%
        background-color: white
        width: 70px
        height: 40px
        display: flex
        justify-content: space-around
        border-radius: 30px
        box-shadow: 0px 0px 80px 10px
        @media (min-width: $breakpoint-tablet)            
            top: 88%
            right: 65%
    button
        border: 0
        background-color: transparent
        cursor: pointer
        .icon
            width: 10px

.wrapper-description
    display: flex
    flex-direction: column

    position: relative
    margin-top: 50px
    @media (min-width: $breakpoint-tablet)
        align-self: center
        width: 50%
    p
        text-align: center
        font-family: $font-family
        font-size: $font-size
        color: $dark-blue
        font-weight: 300
        @media (min-width: $breakpoint-tablet)
            font-size: 1.4rem
            text-align: left
        @media (min-width: $breakpoint-laptop)
            font-size: 2.1rem
            text-align: left
    img
        position: absolute
        right: 43%
        top: -2%
        width: 60px
        @media (min-width: $breakpoint-tablet)
            top: 1%
            right: 69%
    .wrapper-person
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        @media (min-width: $breakpoint-tablet)
            flex-direction: row
            align-self: flex-start
        .name
            text-align: center
            font-family: $font-family
            font-size: 1rem
            color: $dark-blue
            font-weight: 700
        .empleo
            text-align: center
            font-family: $font-family
            font-size: 1rem
            color: $grayish-blue
            font-weight: 300

.no-visible
    display: none