@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap')

$dark-blue: hsl(240, 38%, 20%)
$grayish-blue: hsl(240, 18%, 77%)

$font-size: 1.225rem
$font-family: 'Inter'

*
    box-sizing: border-box

body
    padding: 0
    margin: 0

main
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start

article
    display: flex
    flex-direction: column
    height: 100vh
    justify-content: flex-start
    padding: 20px
    width: 375px
    align-self: center


.wrapper-img
    display: flex
    flex-direction: column
   
    
    .wrp-img-patt
        width: 350px
        position: relative
        align-self: center
        display: flex
        flex-direction: column
    .img-ptrn
        width: 330px
        object-fit: contain  
        align-self: center
    .img-person
        width: 260px        
        position: absolute
        top: 9.5%
        right: 14%
        border-radius: 10px
        box-shadow: 0px 0px 50px -20px
    .slide
        position: absolute
        top: 87%
        right: 43%
        background-color: white
        width: 70px
        height: 40px
        display: flex
        justify-content: space-around
        border-radius: 30px
        box-shadow: 0px 0px 80px 10px
    button
        border: 0
        background-color: transparent
        cursor: pointer
        .icon
            width: 10px

.wrapper-description
    position: relative
    margin-top: 50px
    p
        text-align: center
        font-family: $font-family
        font-size: $font-size
        color: $dark-blue
        font-weight: 300
    img
        position: absolute
        right: 43%
        top: -2%
        width: 60px
    .wrapper-person
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        .name
            text-align: center
            font-family: $font-family
            font-size: 1rem
            color: $dark-blue
            font-weight: 700
        .empleo
            text-align: center
            font-family: $font-family
            font-size: 1rem
            color: $grayish-blue
            font-weight: 300

.no-visible
    display: none